# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.BlazorWebApp.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\lenya\RiderProjects\BlazorWebApp\.idea\.idea.BlazorWebApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
